/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 0.9em;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 20px 0 20px 0;
    margin: auto;
    max-width: 1000px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* products grid */
.product {
    width: calc(100% / 3 - 8px);
    height: 100%;
    float: left;
    margin: 10px 4px;
}

.row {
    margin-bottom: 14px;
}

img {
    width: 100%;
    margin-bottom: 6px;
    display: block;
}

.brand, .product .discounted-price {
    color: rgb(95, 95, 95);
    font-size: 0.6em;
}

.product h3 {
    margin-top: 2px;
    font-weight: 600;
    font-size: 0.7em;
    text-transform: uppercase;
}

.product .price {
    color: rgb(255, 62, 36);
    font-weight: 600;
    font-size: 0.6em;
}

.product .discounted-price {
    margin-left: 4px;
    text-decoration: line-through;
}
