/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 20px 0 20px 0;
    margin: auto;
    max-width: 1000px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* products grid */
.product {
    width: calc(100% / 3 - 8px);
    height: 100%;
    background-color: pink;
    float: left;
    margin: 0 4px;
}

img {
    width: 100%;
}